/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 4, 2023, 1:58:16 PM
    Author     : Khoapa
*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}